/* TABLA COMPLETA */
table {
    border-collapse: collapse;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-left: 14%;

}
/* TITULO REGISTRAR/MODIFICAR */
.titulo {
    color:white;
    background-color:rgb(53, 58, 64);
    text-align: center;
    font-size: 25px;
    
    padding: 20px;
}
/* CONTENEDOR DE LA TABLA */
.form {
    padding: 20px 20px;
    margin-left: 10%;
}
/* INPUTS DE LA TABLA */
.form input {
    width: 100%;
    border-radius: 2px;
    border: 2px solid rgb(53, 58, 64);
}
/* CONTENEDOR DE INPUTS */
.valor {
    padding: 12px;
}

/* BOTONES */

.boton {
    padding: 7px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 4px;
    color:white;
    border: 2px solid rgba(80, 80, 80, 0.384);
    cursor: pointer;
}
#gd{
  background-color: rgb(26, 143, 164);
  width: 108px;
}
#ld{
  background-color: rgba(177, 60, 30, 0.9);  
}

/*/BOTON VOLVER/*/
.contenedor4 {
    margin-bottom: 2%;
    margin-left: 15%;
  }
.contenedor4 button {
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 4px;
    border: 2px solid rgb(43, 44, 44);
    cursor: pointer;
    height: 30px;
    width: 90px;
}

