/* ///////////////////////////////SEARCH BOX//////////////////////////////////////////////////////////////////////////// */

.form-group {
    width: 45%;
    margin-top: 2%;
    margin-left: 2%; 
    
   }
  
  .form-control {
    border-radius: 2px;   
    margin-bottom: 6%;
  }
  
  #searchBotton{
    background-color: rgb(26, 143, 164);
    color: rgb(225, 241, 243);
    width: 15%;
    cursor: pointer;
    float: right;
  }
  
  #searchBox{  
    float: left;
    width: 80%;
    border: 1px solid #39c;
    border-color: rgb(83, 83, 83);
    background-color: rgb(225, 241, 243);
  }

  /* ////////////////////////////////////GRILLA ////////////////////////////////////////////////////// */ 
.table-responsive-lg{
  height: 400px;
  overflow: auto;
  width: 85%;
  margin:auto;
  
}
#grilla{
  text-align: center;
}

#grilla tbody {
  cursor: pointer;
}
 
 /* BOTON REGISTRAR FACTURA Y REGISTRAR REMITO */
 .contenedor3 {
  margin-bottom: 2%;
  width: 50%;
  float: right;
  margin-right: 8%;
}
.contenedor3 button {
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 2px;
  border: 1px solid rgb(43, 44, 44);
  background-color: rgb(26, 143, 164);
  color: white;
  cursor: pointer;
  padding: 4px;
  float: right;
}


/*Para que los botones links no muestren texto azul de hipervínculo*/
a:link, a:visited{
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: white;
  text-decoration: none;
}
