* {
  margin: 0px;
  padding: 0px;
}
#header {
  background-color: rgb(26, 164, 53);
  height: 54px;
  font-family: fantasy;
  font-size: 20px;
}

ul,
ol {
  list-style: none;
}

/* con el nav hago que se centre la barra de busqueda */
#nav {
  margin: auto;
  width: 50%;
}
/* aca empieza a modificar para que sea desplegable */
#nav > li {
  float: left;
}

#nav li a {
  background-color: rgb(26, 164, 53);
  color: #fff;
  text-decoration: none;
  padding: 12px 15px;
  display: block;
}

#nav li a:hover {
  background-color: rgb(188, 232, 109);
  color: rgb(68, 67, 67);
}

#nav li ul {
  /* al agregar display none hacemos que los desplegables no se vean */
  display: none;
  position: absolute;
  min-width: 140px;
}

#nav li:hover > ul {
  /* display block --> ahora al pasar el puntero se despliegan */
  display: block;
}

#nav li ul li {
  position: relative;
  border: solid 0.01px rgb(255, 254, 254);
}

#logo {
  height: 10%;
  width: 100%;
  text-align: left;
}

#logo img {
  height: 65px;
  width: 130px;
} 