/* ///////////////////////////////SEARCH BOX//////////////////////////////////////////////////////////////////////////// */

.form-group {
    background-color: blue;
    width: 45%;
    margin-top: 2%;
    margin-left: 2%;
}

.form-control {
    border-radius: 2px;   
    font-family: 'Actor';
}

#searchBotton{
    background-color: rgb(188, 232, 109);
    color: rgb(26, 164, 53);
    width: 15%;
    cursor: pointer;
    float: right;
}

#searchBox{  
    float: left;
    width: 80%;
    border: 1px solid #39c;
    border-color: rgb(83, 83, 83);
    background-color: rgb(225, 241, 243);
}

/* ////////////////////////////////////GRILLA ////////////////////////////////////////////////////// */

.table-responsive-lg{
    height: 350px;
    overflow: auto;
    width: 85%;
    margin:auto;
  }
  
  #grilla{
    text-align: center;
    font-family: Actor;
  }
  
  #grilla tbody {
    cursor: pointer;
  }